body {
  font-family: $base-font-family;
  margin: 0;
  pading: 0;
}

header {
  display: block;
  width: 100%;
}

header nav ul {
  list-style-type: none;
  line-height: 2em;
  height: 2em;
}

header nav ul li {
  width: $header-nav-ul-li-width;
  float: left;
}

article time {
  display: block;
  width: 100%;
  margin-bottom: 2em;
}

main {
  display: block;
  margin-left: 2em;
  margin-right: 2em;
}

footer {
  margin: 1em;
}

img {
  max-width: 100%;
}
