<header>{{- '' -}}
  <nav>{{- '' -}}
    <ul>{{- '' -}}
{%- assign i = site.languages_i[page.lang] | default: 0 -%}
{%- for navigation in site.navigations -%}
  {%- assign url = navigation['url'] -%}
  {%- assign text = navigation['text'] -%}
      <li><a href="{{ url[i] }}">{{ text[i] }}</a></li>{{- '' -}}
{%- endfor -%}
      <li><a href="{{ page.url | replace_first: site.languages_subpath[i], site.switched_languages_subpath[i] }}">{{ site.switched_languages[i] }}</a></li>{{- '' -}}
    </ul>{{- '' -}}
  </nav>{{- '' -}}
</header>{{- '' -}}
